/code/Class 3/Atribute/nbproject/private/
/code/Class 3/Account/nbproject/private/
/code/Class 3/Atribute/build/
/code/class 4/Ciclos/nbproject/private/
/code/class 4/Ciclos/build/
/practice/Practice2/nbproject/private/
/practice/Practice2/build/
/practice/Switch/nbproject/private/
/practice/Switch/build/